# Python / Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# Database
db.sqlite3
grihaloy/db.sqlite3 # Just in case it's inside the app folder

# IDE Files
.idea/

# Environment Variables
.env

# --- FINAL MEDIA/UPLOAD FIX ---

# 1. IGNORE the entire media directory inside the grihaloy app.
grihaloy/media/*

# 2. EXCEPTION: UN-IGNORE the specific default file we want to track.
!grihaloy/media/default.png